@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: .5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.5rem;
}


a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: darken($primary, 10%);
  }
}

strong {
  font-weight: 700;
}